.slider-div {
    background-color: tomato;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slider-list {
    background-color: blueviolet;
    width: 100%;
    display: flex;
    overflow-x: hidden;
    justify-content: space-between;
    padding: 0 3rem;
    flex-wrap: wrap;
}

.category-list-item {
    background-color: #fff;
}
